textarea{
    resize: none;
}

#centraliza {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

#centraliza {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
/*    background-color: #f5f5f5;*/
}

.formulario {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.formulario{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.arrumaLink{
    cursor: pointer;
}

.form-control, #erro, #sucesso, #carregando, #erroCadastrar, #sucessoCadastrar, #carregandoCadastrar{
    margin-bottom: 5px;
}

.form-control{
    border-radius: 0.5em;
}

div.inv{
    margin-top: -1.7%;
    display: none;
}

.metade{
    width: 49%;
}

.card{
    padding: 0px !important;
}
    
/*Arruma label input*/
:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > textarea, .form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.labelArea {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Sobrescreve a margem padrão da `<label>` */
    line-height: 5.6;
    color: #495057;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .4s ease-in-out;
    padding: 30px 120px !important;
    text-align: -webkit-center;
}

/* antigo nao centralizado*/
.labelNormal {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;/*  Sobrescreve a margem padrão da `<label>` */
    line-height: 0.8;
    color: #495057;
    cursor: text;/*  Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group textarea::-webkit-input-placeholder, .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group textarea:-ms-input-placeholder, .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group textarea::-ms-input-placeholder, .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group textarea::-moz-placeholder, .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group textarea::placeholder, .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group textarea:not(:placeholder-shown), .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label{
    padding-top: calc(var(--input-padding-y) / 3) !important;
    padding-bottom: calc(var(--input-padding-y) / 3) !important;
    font-size: 12px;
    color: #777;
    
    margin-bottom: 0;
    line-height: 0.8;
}

.form-label-group textarea:not(:placeholder-shown) ~ label{
    margin-top: -6% !important;
    padding-top: calc(var(--input-padding-y) / 3) !important;
    padding-bottom: calc(var(--input-padding-y) / 3) !important;
    font-size: 12px;
    color: #777;
    
    margin-bottom: 0;
    line-height: 0.8;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group textarea::-ms-input-placeholder, input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group textarea:-ms-input-placeholder, .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}